/*
orange: #EF7823
green: #00AD4D
blue: #0081B4
darkblue: #021725
purple: #EC297B
grey: #58595B
*/

body {
  background-color: #021725;
  color: #fff
}

.volume {
  top: 0;
  right: 0;
  position: fixed;
  font-size: 40px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.volume:hover {
  opacity: 0.9;
}
