/*
orange: #EF7823
green: #00AD4D
blue: #0081B4
darkblue: #021725
purple: #EC297B
grey: #58595B
*/
html, body{
  height: 100%;
  min-height: 100%;
}
html {
  background: #021725;
  font-family: TheSaB5,'Trebuchet MS',Arial,Helvetica,sans-serif!important;
}
body {
  color: #fff;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  cursor: default;
}

.menu-container {
  bottom: 25px;
  left: 25px;
  position: absolute;
  box-sizing: border-box;
}

.menu-btn {
  background-color: rgba(88,89,91,0.2);
  font-size: 22px;
  padding: 5px 10px;
  margin: 10px;
  border: 1px #58595B solid;
}

.menu-btn:hover {
  cursor: pointer;
}

.game-title {
  position: absolute;
  top: calc(50% - 33px);
  left: 0;
  width: 100%;
  font-size: 39px;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(88,89,91,0.1);
}
