/*
orange: #EF7823
green: #00AD4D
blue: #0081B4
darkblue: #021725
purple: #EC297B
grey: #58595B
*/
html, body{
  height: 100%;
  min-height: 100%;
}
html {
  background: #021725;
  font-family: TheSaB5,'Trebuchet MS',Arial,Helvetica,sans-serif!important;
}
body {
  color: #fff;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  bottom: 25px;
  left: 25px;
  position: absolute;
  box-sizing: border-box;
}

.menu-btn {
  background-color: rgba(88,89,91,0.2);
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  border: 1px #58595B solid;
}

.menu-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
