/*
orange: #EF7823
green: #00AD4D
blue: #0081B4
darkblue: #021725
purple: #EC297B
grey: #58595B
*/

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  background: #021725;
  font-family: TheSaB5, 'Trebuchet MS', Arial, Helvetica, sans-serif!important;
}

body {
  color: #fff;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera */
  -webkit-user-select: none;
  /* Konqueror */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0081b4+18,0081b4+18,00ad4d+100 */
  background: #0081b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0081b4', endColorstr='#00ad4d', GradientType=0);
  /* IE6-9 */
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 173, 77, 0.4);
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.18);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  background: #021725;
}

@media screen and (min-width: 600px) {
  .app-wrapper {
    position: absolute;
    width: 375px;
    height: 668px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
}

.clickable {
  cursor: pointer;
}

.view {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner {
  display: block;
  width: 60px;
  height: 60px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: calc(50% - 30px);
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #00AD4D;
  border-bottom-color: #00AD4D;
  -webkit-animation: spinny 1s linear infinite;
  animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.preloader {
  z-index: 10000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  ;
}

.menu-container {
  bottom: 20;
  left: 20;
  position: absolute;
  box-sizing: border-box;
}

.menu-btn {
  background-color: rgba(88, 89, 91, 0.2);
  font-size: 22px;
  padding: 5px 10px;
  margin: 10px;
  border: 1px #58595B solid;
}

.menu-btn:hover {
  cursor: pointer;
}

.game-title {
  position: absolute;
  top: calc(50% - 33px);
  left: 0;
  width: 100%;
  font-size: 39px;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(88, 89, 91, 0.1);
}

.popup {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #021725;
  opacity: 1;
}

.popup-close-btn {
  top: 0;
  right: 0;
  box-sizing: border-box;
  color: white;
  position: absolute;
  font-size: 30px;
  padding-top: 8px;
  width: 46px;
  height: 46px;
  text-align: center;
  cursor: pointer;
}

.popup-title {
  position: absolute;
  height: 46px;
  font-size: 24px;
  line-height: 46px;
  width: 100%;
  text-align: center;
  background: #021725;
  box-sizing: border-box;
}


/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: fixed;
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
}

.rippleEffect {
  animation: rippleDrop .3s cubic-bezier(0.33, 0.84, 0.72, 0.31);
}

@keyframes rippleDrop {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.clickEffect {
  animation: clickEffectOpacity .3s cubic-bezier(0.4, 0, 1, 1)
}

@keyframes clickEffectOpacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/*--- Singleplayer ---*/

.game-singleplayer {
  position: absolute;
  height: calc(100% - 80px);
  width: 100%;
  margin-top: 47px;
}

.score-singleplayer {
  position: absolute;
  bottom: 3px;
  left: 5px;
  font-size: 30px;
}

.singleplayer-game-over {
  width: 100%;
  margin-top: 47px;
  text-align: center;
  font-size: 51px;
}

.game-singleplayer-question {
  margin: 10px;
  margin-top: 30px;
  font-size: 24px;
}

.game-singleplayer-answers {
  margin: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  bottom: 30px;
}

.game-singleplayer-answer {
  background-color: rgba(88, 89, 91, 0.2);
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px #58595B solid;
}

.game-singleplayer-answer:hover {
  cursor: pointer;
}

.answer-advertisement {
  height: 100px;
  background: #1778cd;
}

.btn-start-game {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(88, 89, 91, 0.2);
  font-size: 30px;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px #58595B solid;
  width: 174px;
  margin-left: calc(50% - 87px);
  bottom: 60px;
  cursor: pointer;
}


/*--- Profil ---*/

.profil-container {
  position: absolute;
  height: calc(100% - 80px);
  width: 100%;
  margin-top: 47px;
}

.logout-form {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.logout-btn {
  box-sizing: border-box;
  width: 100px;
  background-color: rgba(88, 89, 91, 0.2);
  font-size: 22px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 20px;
  border: 1px #58595B solid;
}


/*--- Multiplayer page menu ---*/

.multiplayer-page-menu {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow: auto;
}

.multiplayer-welcome-message {
  margin-top: 10px;
  font-size: 15px;
}

.multiplayer-welcome-message-playername {
  font-weight: bold;
}

.multiplayer-btn-group-list {
  margin-top: 10px;
}

.multiplayer-btn-group-list .multiplayer-btn-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.multiplayer-btn-group-list .multiplayer-btn-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multiplayer-btn-new-game {
  height: 50px;
  line-height: 50px;
  background: rgba(0, 173, 77, 0.8);
  padding-left: 10px;
  padding-right: 10px;
}

.multiplayer-btn-new-game-text {
  float: left;
  font-size: 22px;
}

.multiplayer-btn-new-game-icon {
  float: right;
  font-size: 50px;
  padding-left: 15px;
  border-left: 1px dashed rgba(0, 0, 0, 0.5);
}

.multiplayer-btn-game-requests {
  height: 44px;
  line-height: 44px;
  background: rgba(0, 129, 180, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

.multiplayer-btn-game-requests-text {
  float: left;
  font-size: 18px;
}

.multiplayer-btn-game-requests-number {
  background: rgba(255, 0, 0, 0.8);
  float: right;
  font-size: 22px;
  height: 30px;
  min-width: 30px;
  border-radius: 21px;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 30px;
  text-align: -webkit-center;
}

.multiplayer-ongoing-games-wrapper {
  margin-top: 10px;
}

.multiplayer-ongoing-games-wrapper .multiplayer-ongoing-game:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.multiplayer-ongoing-games-wrapper .multiplayer-ongoing-game:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multiplayer-ongoing-game {
  height: 44px;
  line-height: 44px;
  background: rgba(0, 129, 180, 0.5);
  padding-right: 10px;
}

.multiplayer-ongoing-game-left {
  height: 44px;
  width: 44px;
  float: left;
}

.multiplayer-ongoing-game-img {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  box-sizing: border-box;
  padding: 5px;
}

.multiplayer-ongoing-game-middle {
  float: left;
}

.multiplayer-ongoing-game-right {
  float: right;
}

.multiplayer-ongoing-game-time {
  font-size: 13px;
  font-weight: bold;
  line-height: 23px;
}

.multiplayer-btn-your-game-requests {
  margin-top: 10px;
  height: 44px;
  line-height: 44px;
  background: rgba(0, 129, 180, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.multiplayer-btn-your-game-requests-text {
  float: left;
  font-size: 18px;
}

.multiplayer-btn-your-game-requests-number {
  background: rgba(255, 0, 0, 0.8);
  float: right;
  font-size: 22px;
  height: 30px;
  min-width: 30px;
  border-radius: 21px;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 30px;
  text-align: -webkit-center;
}

.multiplayer-match-history-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.multiplayer-match-history-wrapper .multiplayer-match-history:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.multiplayer-match-history-wrapper .multiplayer-match-history:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multiplayer-match-history {
  height: 44px;
  line-height: 44px;
  background: rgba(0, 129, 180, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}


/*--- Multiplayer page new game ---*/

.multiplayer-page-new-game {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow-y: auto;
  display: none;
}


/*--- Multiplayer page game requests ---*/

.multiplayer-page-game-requests {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow-y: auto;
  display: none;
}


/*--- Multiplayer page ongoing game ---*/

.multiplayer-page-ongoing-game {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow-y: auto;
  display: none;
}


/*--- Multiplayer page your game requests ---*/

.multiplayer-page-your-game-requests {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow-y: auto;
  display: none;
}


/*--- Multiplayer page match history ---*/

.multiplayer-page-match-history {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 46px;
  overflow-y: auto;
  display: none;
}


/*--- Leaderboard ---*/

.leaderboard-page {
  position: absolute;
  height: calc(100% - 46px);
  width: 100%;
  box-sizing: border-box;
  margin-top: 46px;
  overflow: auto;
}

.leaderboard-table {
  width: 100%;
  text-align: center;
}

.learboard-table-head {
  width: calc(100% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  height: 22px;
  font-size: 18px;
}

.learboard-table-head-item {
  float: left;
  overflow: hidden;
}

.learboard-table-body {
  width: calc(100% - 10px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
  height: calc(100% - 22px);
}

.leaderboard-table-body-row {
  width: 100%;
  height: 19px;
}

.leaderboard-table-body-row.my-score {
  background: rgba(239, 120, 35, 0.4);
}

.leaderboard-table-body-row-item {
  float: left;
  overflow: hidden;
}

.leaderboard-table-nr {
  width: 10%;
}

.leaderboard-table-username {
  width: 50%;
}

.leaderboard-table-score {
  width: 15%;
}

.leaderboard-table-date {
  width: 25%;
}
