html, body {
  height: 100%;
  min-height: 100%;
}

html {
  background: #021725;
  font-family: TheSaB5, 'Trebuchet MS', Arial, Helvetica, sans-serif !important;
}

body {
  color: #fff;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera */
  -webkit-user-select: none;
  /* Konqueror */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0081b4+18,0081b4+18,00ad4d+100 */
  background: #0081b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0081b4 18%, #0081b4 18%, #00ad4d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0081b4', endColorstr='#00ad4d', GradientType=0);
  /* IE6-9 */
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.container{
  text-align: center;
  width: 200px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus {
    outline: none;
}

form {
  margin-bottom: 0;
}

input {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: none;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

input:focus{
    outline-offset: 0px;
}

input:focus {
    outline: none;
}

button {
  font-size: 17px;
  width: 100%;
  border-radius: 3px;
  height: 44px;
  margin-bottom: 20px;
  background-color: #021725;
  box-sizing: border-box;
  text-align: center;
  color: white;
  border: none;
  font-family: TheSaB5, 'Trebuchet MS', Arial, Helvetica, sans-serif!important;
}

button:focus {
  outline: none;
}

.spinner {
  display: block;
  width: 60px;
  height: 60px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: calc(50% - 30px);
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #00AD4D;
  border-bottom-color: #00AD4D;
  -webkit-animation: spinny 1s linear infinite;
  animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.preloader {
  z-index: 10000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  ;
}
